html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: rgb(213, 213, 213);
}

.header_div {
    position: static;
    width: 100vw;
    border: 2px #808080 solid;
    padding: 1vw;
}

.main_div {
    position: relative;
    width: 100vw;
    border: 2px #808080 solid;
    padding: 1vw;
}

.main_div h1 {
    font-size: 8vw;
    font-family: 'Times New Roman', Times, serif;

}

header .row {
    display: flex;
    padding: 0px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 10vw;
}

.active {
    background-color: rgba(0, 0, 0, 0.159);
}

.video_div {
    position: relative;
    width: 100vw;
    top: auto;
    border: 2px black solid;
    background-color: rgb(192, 192, 192);
}

.video_div img {
    width: 100%;
}

.video_div h1 {
    text-align: center;
    margin: 0px;
    padding: 15px 0px;
    border: 2px black solid;
}


.dataField {
    width: 90%;
    border: 2px black solid;
}

.itemName {
    font-size: 4vw;
    padding: 1px 3px;
}

.itemValue {
    font-size: 5vw;
    font-weight: 500;
    text-align: right;
    padding: 1px 3px;
}

body footer {
    position: fixed;
    width: 100vw;
    bottom: 0px;
    left: 0px;
    text-align: center;
    background-color: black;
}

body footer h2 {
    color: lightgray;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.myButton {
    color: rgb(255, 255, 255);
    font-size: 5vw;
    padding: 4vw 2vw;
    margin: 1vw 1vw;
    border-radius: 500px;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-color: darkgray;
    border: 2px solid rgb(28, 110, 164);
    display: inline-block;
}

.myButton:hover {
    background: darkgray;
}

.myButton:active {
    background: darkgray;
}

#btnStartLogging {
    background-color: rgb(0, 101, 0);
}

#btnStopLogging {
    background-color: rgb(164, 0, 0);
}

#imgProgress {
    height: 10vw;
    width: 10vw;
    display: none;
}


.col_flex {
    position: relative;
    display: flex;
    flex-direction: column;
}

.itemKompass {
    width: 100%;
    align-items: center;
}

.kompass {
    position: absolute;
    top: 7vw;
    left: 5vw;
    width: 30vw;
    height: 30vw;
}

.small-6 {
    width: 50vw;
    padding: 1vw;
}


.small-12 {
    width: 100vw;
    padding: 2vw;
    justify-content: space-between;
}

.row_flex {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.controls {
    align-content: center;
}

.row_btnResolution {
    display: none;
}